<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
   <div>
       <form action="/board/modify" method="post" id="modForm">
       <input type="hidden" name="bno" th:value="${bvo.bno}">
       <div class="mb-3">
           <label for="n" class="form-label">no.</label>
           <input type="text"
                  class="form-control" id="n" name="bno" th:value="${bvo.bno }"
                  readonly="readonly">
       </div>
       <div class="mb-3">
           <label for="t" class="form-label">title</label>
           <input type="text"
                  class="form-control" id="t" name="title" th:value="${bvo.title }"
                  readonly="readonly">
       </div>
       <div class="mb-3">
           <label for="w" class="form-label">writer</label>
           <input type="text"
                  class="form-control" id="w" name="writer" th:value="${bvo.writer }"
                  readonly="readonly"> <span class="badge text-bg-info">[[${bvo.regDate }]]</span>
       </div>
       <div class="mb-3">
           <label for="c" class="form-label">content</label>
           <textarea class="form-control" id="c" rows="3" name="content"
                     readonly="readonly">[[${bvo.content }]]</textarea>
       </div>
       <button type="button" id="listBtn" class="btn btn-info">List</button>
       <button type="button" id="modBtn" class="btn btn-primary">Modify</button>
       <button type="button" id="delBtn" class="btn btn-danger">Delete</button>
       </form>

     <!--*/  <a th:href="@{/board/modify(bno=${bvo.bno})}"><button type="button" id="modBtn" class="btn btn-primary">modify</button></a>
       <a th:href="@{/board/delete(bno=${bvo.bno})}"><button type="button" id="delBtn" class="btn btn-danger">delete</button></a> */ -->

       <script th:src="@{/js/boardDetail.js}"></script>

   </div>
</div>