<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div layout:fragment="content" class="container-md">
    <th:block th:with="bvo=${bdto.bvo}">
   <div>
       <form action="/board/modify" method="post" id="modForm" enctype="multipart/form-data">
       <input type="hidden" name="bno" th:value="${bvo.bno}">
       <div class="mb-3">
           <label for="n" class="form-label">no.</label>
           <input type="text"
                  class="form-control" id="n" name="bno" th:value="${bvo.bno }"
                  readonly="readonly">
       </div>
       <div class="mb-3">
           <label for="t" class="form-label">title</label>
           <input type="text"
                  class="form-control" id="t" name="title" th:value="${bvo.title }"
                  readonly="readonly">
       </div>
       <div class="mb-3">
           <label for="w" class="form-label">writer</label>
           <input type="text"
                  class="form-control" id="w" name="writer" th:value="${bvo.writer }"
                  readonly="readonly"> <span class="badge text-bg-info">[[${bvo.regDate }]]</span>
       </div>
       <div class="mb-3">
           <label for="c" class="form-label">content</label>
           <textarea class="form-control" id="c" rows="3" name="content"
                     readonly="readonly">[[${bvo.content }]]</textarea>
       </div>
           <div class="mb-3">
               <ul class="list-group list-group-flush">
                   <li th:each="fvo:${bdto.flist}" class="list-group-item">
                       <div th:if="${fvo.fileType} > 0" class="ms-2 me-auto">
                           <img th:src="@{|/upload/${fvo.saveDir}/${fvo.uuid}_${fvo.fileName}|}" alt="img"/>
                       </div>
                       <div th:unless="${fvo.fileType} > 0" class="ms-2 me-auto">
                            <!--/* icon */-->
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                               <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0z"/>
                           </svg>
                       </div>
                       <div class="ms-2 me-auto">
                           <div class="fw-bold text-success-emphasis">[[${fvo.fileName}]]</div>
                           [[${fvo.regDate}]]
                       </div>
                       <span class="badge text-bg-success rounded-pill">[[${fvo.fileSize}]]Bytes</span>
                       <button type="button" th:data-uuid="${fvo.uuid}" class="btn btn-outline-danger btn-sm file-x" disabled>x</button>
                   </li>
               </ul>
           </div>

           <!--/* file 추가 라인 */-->
           <div class="mb-3">
               <label for="file" class="form-label">File</label>
               <input type="file" class="form-control" id="file" name="files" multiple style="display:none">
           </div>
           <button type="button" id="trigger" class="btn btn-primary" disabled>File Upload</button>

           <!--/* file 출력 라인 */-->
           <div class="mb-3" id="fileZone"></div>


       <button type="button" id="listBtn" class="btn btn-info">List</button>
       <button type="button" id="modBtn" class="btn btn-primary">Modify</button>
       <button type="button" id="delBtn" class="btn btn-danger">Delete</button>
       </form>
       <hr>
       <br>
       <!--/* comment line */-->
       <!--/* post */-->
       <th:block sec:authorize="isAuthenticated()">
       <div class="input-group mb-3">
           <span class="input-group-text" id="cmtWriter" th:text="${#authentication.getPrincipal().userVO.nickName}"></span>
<!--           <span class="input-group-text" id="cmtWriter" th:text="${#authentication ne null} ?
           ${#authentication.getPrincipal().userVO.nickName} : 'NickName' "></span>-->
           <input type="text"  id="cmtText" class="form-control" placeholder="Add Comment" aria-label="Comment" aria-describedby="basic-addon1">
           <button type="button" id="cmtAddBtn"  class="btn btn-outline-success">post</button>
       </div>
       </th:block>

       <!--/* spread */-->
       <ul class="list-group list-group-flush" id="cmtListArea">
           <li class="list-group-item">
               <div class="ms-2 me-auto">
                   <div class="fw-bold">writer</div>
                   Content
               </div>
               <span class="badge text-bg-primary rounded-pill">regDate</span>
           </li>
       </ul>

       <!--/* more */-->
       <br>
       <div>
           <button type="button" id="moreBtn" data-page="1" class="btn btn-dark" style="visibility: hidden">MORE +</button>
       </div>

       <!--/* Modal */-->
       <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
           <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                       <h1 class="modal-title fs-5" id="cmtWriterMod">Writer</h1>
                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                   </div>
                   <div class="modal-body">
                       <input type="text" class="form-control" id="cmtTextMod">
                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                       <button type="button" id="cmtModBtn" class="btn btn-primary">Save changes</button>
                   </div>
               </div>
           </div>
       </div>


   </div>
     <!--*/  <a th:href="@{/board/modify(bno=${bvo.bno})}"><button type="button" id="modBtn" class="btn btn-primary">modify</button></a>
       <a th:href="@{/board/delete(bno=${bvo.bno})}"><button type="button" id="delBtn" class="btn btn-danger">delete</button></a> */ -->


        <th:block sec:authorize="isAuthenticated()"
                  th:with="auth=${#authentication.getPrincipal().userVO.nickName}">
            <script th:inline="javascript">
                let nickName = [[${auth}]];
                console.log(nickName);
            </script>
        </th:block>

       <script th:inline="javascript">
           const bnoVal = [[${bvo.bno}]];
           console.log(bnoVal);
       </script>

       <script th:src="@{/js/boardDetail.js}"></script>
       <script th:src="@{/js/boardRegister.js}"></script>
       <script th:src="@{/js/boardComment.js}"></script>
        <script>
            spreadComment(bnoVal);
        </script>

    </th:block>
</div>


