<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="container-md">
        <h1>Board List Page</h1>
        <hr>
        <div class ="container-fluid">
            <form action="/board/list" class="d-flex" role="search" >
                <select class="form-select form-select-sm" id="inputGroupSelect01" name="type" style="width: 70%; margin-right: 20px">
                    <option th:selected="${ph.pgvo.type == null ? true : false}" >Choose...</option>
                    <option th:value="t" th:selected="${ph.pgvo.type == 't' ? true : false}" >title</option>
                    <option th:value="w" th:selected="${ph.pgvo.type == 'w' ? true : false}">writer</option>
                    <option th:value="c" th:selected="${ph.pgvo.type == 'c' ? true : false}">content</option>
                    <option th:value="tw" th:selected="${ph.pgvo.type == 'tw' ? true : false}" >title + writer</option>
                    <option th:value="wc" th:selected="${ph.pgvo.type == 'wc' ? true : false}">writer + content</option>
                    <option th:value="tc" th:selected="${ph.pgvo.type == 'tc' ? true : false}">title + content</option>
                    <option th:value="twc" th:selected="${ph.pgvo.type == 'twc' ? true : false}">all</option>
                </select>

                <input class="form-control me-2" name="keyword" type="search" placeholder="Search..." aria-label="Search" th:value="${ph.pgvo.keyword }" >
                <input type="hidden" name="pageNo" value="1">
                <input type="hidden" name="qty" th:value="${ph.pgvo.qty }">
                <button type="submit" class="btn btn-success position-relative">
                    Search
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        [[${ph.totalCount }]]
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </button>

            </form>
        </div>


        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">글쓴이</th>
                <th scope="col">작성일</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="bvo:${list}">
                    <td>[[${bvo.bno }]]</td>
                    <td> <a th:href="@{/board/detail(bno=${bvo.bno})}">[[${bvo.title }]]</a></td>
                    <td>[[${bvo.writer }]]</td>
                    <td>[[${bvo.regDate }]]</td>
                </tr>
            </tbody>
        </table>
        <!--/* ${} => jsp EL 방식 => 타임리프 th: 필수 */-->
        <!--/* th:classappend : 동적 클라스 추가 */-->
        <!--/* Pagination Line */-->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${ph.prev eq false ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{/board/list(pageNo=${ph.startPage-1},qty=10,type=${ph.pgvo.type},keyword=${ph.pgvo.keyword})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <th:block th:each="i:${#numbers.sequence(ph.startPage, ph.endPage)}">
                <li class="page-item" th:classappend="${ph.pgvo.pageNo eq i ? 'active' : ''}"><a class="page-link" th:href="@{/board/list(pageNo=${i},qty=10,type=${ph.pgvo.type},keyword=${ph.pgvo.keyword})}">[[${i}]]</a></li>
                </th:block>
                <li class="page-item"  th:classappend="${ph.next eq false ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{/board/list(pageNo=${ph.endPage+1},qty=10,type=${ph.pgvo.type},keyword=${ph.pgvo.keyword})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>



</div>