<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div layout:fragment="content" class="container-md">

    <div>
        <h1>Boot Register Page</h1>
        <hr>
        <form action="/board/register" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="t" class="form-label">Title</label>
          <input type="text" class="form-control" id="t" name="title" placeholder="title...">
        </div>
        <div class="mb-3">
          <label for="w" class="form-label">Writer</label>
          <input type="text" class="form-control" id="w" name="writer" readonly="readonly" th:value="${#authentication.getPrincipal().userVO.nickName}">
        </div>
        <div class="mb-3">
          <label for="c" class="form-label">Content</label>
          <textarea class="form-control" id="c"  name="content" cols="10" rows="3"></textarea>
        </div>
            <!--/* file 추가 라인 */-->
            <div class="mb-3">
                <label for="file" class="form-label">File</label>
                <input type="file" class="form-control" id="file" name="files" multiple style="display:none">
            </div>
            <button type="button" id="trigger" class="btn btn-primary">File Upload</button>

            <!--/* file 출력 라인 */-->
            <div class="mb-3" id="fileZone"></div>
            <button type="submit" class="btn btn-primary" id="regBtn">register</button>

        </form>
    </div>
    <script th:src="@{/js/boardRegister.js}"></script>
</div>